.notes
  &__main
    display: flex
    flex-direction: column
    flex-grow: 1
    height: 100%

  &__appbar
    align-items: center
    background-color: $primary
    color: white
    display: flex
    justify-content: space-between
    padding: 10px 20px
