* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
}

body,
#root {
    padding: 5%;
    font-size: 1.1rem;
}

input {
    width: 35%;
    color: darkslategray;
    font-size: 1.1rem;
    border-radius: 6px;
}

input:focus {
    border: 2px solid rgb(58, 129, 129);
}

.card {
    background-color: lightsteelblue;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    max-width: 25%;
    align-items: center;
    border: 1px solid rgb(58, 129, 129);
    border-radius: 5px;
    justify-content: center;
}
.card img {
    width: 100%;
}

.card-img_title {
    font-size: 1rem;
}

.gif-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.gif-results {
    margin-bottom: 55px;
}
